.git
~/Downloads/data/dot/.git/
/home/y0ung/Downloads/data/dot/dot2/home/.mozilla/firefox/741f7rln.default-release/storage/default/https+++*
dot2/home/.mozilla/firefox/741f7rln.default-release/storage/default/https+++*
